/*login-part popup dispose*/
body{
    position:relative;
}
.header-top{
    min-height: 220px;
    background-color: #127BAB;  
}
.login-mask{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 100;
}
.popup-login{
    position: absolute;
    margin:0 auto;
    top:700px;
    left: 0;
    right: 0;
    text-align: center;
    width: 400px;
    height: 400px;
    background-color: #fff;
    box-shadow: 3px 2px 6px #000;  
    border-radius: 10px;
    z-index: 120;
}
.popup-login dl{
    font-size: 25px; 
}
.popup-login dl dd{
    color: #ccc;
}
.close-icon{
    width: 42px;
    height: 42px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    position: absolute;
    background: url(../img/sprite.png) no-repeat -67px 0;
    right: -20px;
    top: -20px;
    cursor: pointer;
    z-index: 1;
}
.popup-login b{
    font-size: 22px;
    text-align: center;
}
.popup-login .close{
    text-align: right;
    font-size:18px;
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-right:15px;
    box-sizing:border-box; 
    
}
.popup-login .close a:hover{
    cursor: pointer;
    color:#0190dd;
}
.popup-input li input{
    width: 300px;
    height: 40px;
    margin: 20px auto;
    border:1px solid #ccc;
    padding-left:15px; 
    border-radius: 5px;
}
.popup-input li input:focus{
    outline:#0190DD  dashed thin;
}
.popup-login button{
    margin:auto; 
    width: 200px;
    height: 35px;
    border-radius: 20px;
    background-color: #0190dd;
    color: white;
    text-indent: 48px;
    letter-spacing: 50px;
    font-size: 1.1em;
    outline: none;
    border:0;
    cursor: pointer;
}
.check-box{
    height: 30px;
    line-height: 30px;
}
.check-box input{
    margin-left:30px ;
 }
.check-box a{
    float: right;
    text-align: right;
}


/***detail-body*****/

.detail-body{
    padding-top:20px;
    margin-top:-80px;
    min-height: 600px;
    background-color: #fff;
    width: 100%;
    border-top-left-radius:20px; 
    border-top-right-radius:20px; 
}
.content{
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    padding: 30px 10px;
}
.img{
    width: 30%;
    text-align: center;
}
.main-img{
    width: 100%;
    height: 435px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:thick ridge #127BAB;
    padding: 5px;
}
.main-img>img{
    border:5px dashed black;
}


.film-info{
    width: 67%;
    position: relative;
}
.sub-title{
    margin: 10px 0;
    font-size: 18px;    
}
.otherbox{
    background-color: #444;
    width: 80%;
    height: 30px;
    line-height: 30px;
    color:white;
    text-indent: 10px;
    border-radius: 3px;

}
.division{
    background-color: #127BAB;
    height: 35px;
    line-height: 35px;
    margin: 10px 0;
}
.division a{
    font-size: 16px;
    color: white;
    margin:0 20px; 
}
.division a:hover{
    color: #ff8800
}
.saw{
    text-indent: 20px;
}
.saw span{
    margin-right:60px; 
}
.film-score{
    display: inline-block;
    min-width: 70px;
    height: 20px;
    background-color: #679C00;
    margin-right:60px; 
    color:white;
    border-radius: 10px;
}
.progress{
    margin: 10px 0;
}
.progress span{
    margin: 0  30px;
}
meter{
    width: 150px;   
}
.progress .box-office{
    display: inline-block;
    margin:0;
    border:1px solid #ccc;
    background-color: #679C21;
    padding:0 8px;
    color:white;
    border-radius: 5px; 
}
.film-details{
    padding-left:20px;
}
.film-details strong{
    margin:0 180px 0 10px;; 
}
.detail-item{
    padding-left:27px;
}
.film-details dd{
    margin: 5px 0;
}
.intro p{
    text-align: justify;
}

/**********comments*****/
.comments-body{
    background-color: #127BAB;
    padding-top:50px;
}
.comments{
    margin: 0 auto;
    width: 1200px;
}
.write{
    height: 150px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #0A4966;
    margin-bottom:20px; 
    padding:40px 80px 20px; 
    color:white;
}
.mark-left dt{
    margin-bottom:10px; 
}
.mark-left a{
    display: inline-block;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    color:#000;
    background-color: wheat;
    font-size: 12px;
    margin: 0 5px;
}
.mark-left a:hover{
    background-color: #679C21;
    color: wheat;
}
.icon-stars i:hover{
    color: #679C21;
}
.icon-star{
    color: #679C21;
}
.textarea-submit{
    display: inline-block;
    background-color: #0190dd;
    width: 70px;
    height: 23px;
    line-height: 20px;
    color:white;
    border-radius: 10px; 
}

.comment-list{
    background-color: #fff;
    padding: 40px 80px;
}
.comment-item{
    min-height: 100px;
    border-bottom: 1px dashed #666;
    padding: 10px 50px;
    position: relative;
}
.user-info{
    width: 20%;
    border-right:1px solid #555;
    height: 100px;
}
.user-info p{
    margin-bottom:15px; 
}
.user-text{
    width: 75%;
    min-height: 100px;
}
.texts{
    font-size: 16px;
    color: #111;
}
.reply-content{
    height: 25px;
}
.btn-reply{
    display: inline-block;
    width: 70px;
    height: 20px;
    line-height: 20px;
    color:wheat;
    border-radius: 10px; 
    background-color: #679C21;
    text-align: center
}
.btn-reply:hover{
    color: white;
    background-color: #679C00;
}
.reply-icon{
    text-align: right;
    font-size: 16px;
    margin: 4px 0;
}
.reply-icon span{
    margin: 0 30px 0 0; 
}
.reply-icon span a{
    margin-left: 10px;
}
.reply-icon .agreement{
    color:#0190dd;
}
.reply-icon span i:hover{
    color:#0190dd;
    cursor: pointer;
}
.reply-item{
    margin-top:10px;
    border-bottom: 1px dashed #ccc;
    color:#555;
    padding-left: 30px;
}
.reply-item a{
    margin-right:150px; 
}
.pages{
    text-align: center;
    margin: 20px 0;
}
.pages a{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 3px;
    text-align: center;
    cursor: pointer;
}
.page-active{
    border-radius: 50%;
    background-color: #679C21;
    color: white; 
}
.pages a:hover{
    border-radius: 50%;
    background-color: #679C21;
    color: white;
}
.pages .prev-page,
.pages .next-page{
    text-align: center;
    width: 78px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    margin: 0;
}
.pages .prev-page:hover,
.pages .next-page:hover{
    background-color: #679C21;
    color: white;
    border-radius: 15px;
}
.comments-info{
    position:absolute;
    text-align: center;
    color: #fff;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    top: 1000px;
    left: 0;
    right: 0;
    display: none;
}
.comments-info span, .reply-info span{
    padding:3px 10px;
    font-size: 14px;
    border-radius: 10px;
    background-color: #679C00;
}
.reply-info{
    position:absolute;
    text-align: center;
    color: #fff;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    top: 0;
    bottom: 0;  
    left: 0;
    right: 0;
    display: none;
}
