

.flex-end{
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content:space-around;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}
.line{
    margin: 50px 0 20px 0;
    height: 3px;
    background: -webkit-linear-gradient(left, purple ,#0f0, red,#ff0,#0ff); 
    background: -o-linear-gradient(right, purple ,#0f0, red,#ff0,#0ff);
    background: -moz-linear-gradient(right, purple ,#0f0, red,#ff0,#0ff); 
    background: linear-gradient(to right, purple ,#0f0, red,#ff0,#0ff); 
}
.footer{
  width: 100%;
  background-color: #fff;
}
.end-content{
  min-height: 100px;
  margin: 0 auto;
  width: 1200px;
}
.end-content ul li{
  height: 25px;
  line-height: 25px;
}
.end-content ul li:first-child{
  margin-bottom:5px;
  font-size: 17px;  

}
.end-bottom{
  font-size: 14px;
  color:#999;
  margin-top:20px; 
  text-align: center
}
.end-bottom p{
  margin: 10px 0;
}